body {
        background-image: url('list.jpg');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center top;
        text-align: center;
      }

      .box {
        background-color: rgb(232, 243, 243, 0.9);
        font-size: 25px;
        text-align: center;
        border-radius: 7px;
        font-family: Bookman Old Style, serif;
        width: 400px;
        height: auto;
        display: inline-block;
        margin: 0 auto;
        margin-top: 20px;
        padding: 10px;
      }

      .box .fields {
        opacity: 1;
      }

      .addItem {
        background-color: #9ACD32;
        color: white;
        border-radius: 7px;
        font-size: 13px;
        padding: 7px;
        border: 1px;
      }

      .inputText {
        width: 200px;
        height: 25px;
        border-radius: 7px;
        border: 1px;
      }

      button {
        background-color: #FF6347;
        color: white;
        border-radius: 7px;
        font-size: 12px;
        padding: 5px;
        border: 1px;
      }

      .sort {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .tabel {
        font-size: 17px;
        font-family: "Bookman Old Style", Times, serif;
        padding-top: 15px;
      }

      #bought {
        background-color: #FF6347;
      }

      .title {
        padding-bottom: 20px;
      }

      .hidden {
        display: none;
      }

      .crossed {
        text-decoration: line-through;
      }